[2016-09-20 12:28] leMaik opened #1 "Component should behave like a carousel"
At the moment, the jump from the last to the first card (and vice versa) looks strange and doesn't match the specs.
It should swipe to the left/right, but never jump over multiple cards.

Also, it should be possible to get from the first to the last card by swiping to the right, and to get from the last to the first card by swiping to the left.

[2016-09-21 21:03] leMaik commented on #1
Implemented in 6e10bd5ab5f6feecb8bcbc0dc69fd4ac633340f4. Thank you, virtualization!

[2016-09-21 21:03] #1 closed

[2016-09-23 19:48] leMaik opened #2 "Keyboard navigation"
This feature would almost be free and pretty useful for users that expect to have keyboard navigation, especially on the desktop.

[2016-09-23 19:49] leMaik opened #3 "Desktop style isn't responsive"
Setting the `mobile` option is not an option in a non-touch environment, so the desktop component should scale better. :smile:
![image](https://cloud.githubusercontent.com/assets/5544859/18799368/84b64c78-81d7-11e6-8185-105b1bb30518.png)

[2016-09-23 20:05] oliviertassinari commented on #2
You could be using the `bindKeyboard` HOC of *react-swipeable-views*.

[2016-09-23 20:07] leMaik commented on #2
@oliviertassinari Wow, that was easy. :+1:
Any idea how I could get the spring to be more material-like (using the same bezier curve that the dots use)?

[2016-09-23 20:12] oliviertassinari commented on #2
Well, that's a good question. You need to tweak the `springConfig` property.
React-motion has a demo where you can play with different value. You would need to find the one that feels right. I know that there is section on the Material Specification regarding the expected transformation function curve. It's physical based. That shouldn't be too hard. As react-motion is also using a spring physical

[2016-09-23 20:16] leMaik commented on #2
Okay, I'll tweak the spring config then. Combining three HOCs [is strange](oliviertassinari/react-swipeable-views/issues/156), by the way, but it works now.

[2016-09-23 20:17] #2 closed

[2016-09-23 22:01] #3 closed

[2016-09-23 22:01] leMaik commented on #3
Now looks "ok" even at 500x350.
![image](https://cloud.githubusercontent.com/assets/5544859/18802602/17ffcfd8-81ea-11e6-8c69-0df36d550c03.png)

[2016-11-03 10:43] bartvde opened #4 "is there an after change handler?"
that gets called when the the index of carousel changes?

[2016-11-03 10:48] saschb2b commented on #4
Currently not. Could you provide a use case? We didn't thought it would be used because the only callback needed was pressing the "getting started" button.
The index changed event is currently handled only internally.

[2016-11-03 10:49] bartvde commented on #4
Use case: I have a carousel of geospatial features, for instance bakeries in Paris. The corresponding map needs to zoom to the location of the bakery.

[2016-11-03 10:59] saschb2b commented on #4
I would recommend using just separate slides. You could provide your mapComponent as media and just change a zoom prop is the next slide. So every slide a separate component. To make this more beautiful you could animate your zoom.

Could look like this.

`<AutoRotatingCarousel
        label="Got to map"
        open

        <Slide
          media={<mapComponent />}
          mediaBackgroundStyle

[2016-11-03 11:19] leMaik commented on #4
@saschb2b Animating the zoom won't work because (due to virtualization) the slides are mounted before they are shown. A `onSlideChanged` callback would be a good addition. :+1:

[2016-11-03 11:23] saschb2b commented on #4
Good point. Then we'll add that :)

[2016-11-03 11:57] bartvde commented on #4
Another question, I see this component is mostly meant to be "modal", would it be easy for me to change / override the styles so that it's not modal? For reference, this is what I'm trying to replace (uses react-slick):

![screen shot 2016-11-03 at 12 56 42](https://cloud.githubusercontent.com/assets/319678/19964971/fe7ac784-a1c4-11e6-9df1-7e54d3f92e56.png)

[2016-11-03 14:44] leMaik commented on #4
@bartvde Er... We think that each of our components should do about _one_ thing, and do it well. This component is a Material Design carousel.

Your use case looks like a new project/component on its own. :wink: I don't really see a good reason to bend this component so that it meets your needs, but feel free to take a look on our code to see how you can implement the map popup.

[2016-11-03 14:53] bartvde commented on #4
Understood, thanks for the feedback

[2016-11-14 07:15] #4 closed

[2016-12-26 04:49] alexanderwhatley opened #6 "Is there a way to embed the carousel into the page?"
Is there a way to embed the carousel into the page itself? Right now, when I display it, the carousel takes up the center part of the page, and the gray area surrounding it blocks the rest of the webpage. I have tried adding CSS and style to the div element surrounding it such as:

[code]
However, this does not change anything. Thanks for your help.

[2016-12-26 11:57] leMaik commented on #6
Well, that's exactly what we (and the Material Design Specs) intend this component to be used for. This is not a generic slider for React.

You could try to embed the component by setting `mobile` to `true` and then adding some styles, like this:

[code]

[2016-12-28 22:45] adeelibr opened #7 "How do you add a callToAction to the label(button) or is there a way to remove the button?"
HI,
I have experimented in different ways, but couldn't find any solutions, Is there a way to add a call to action to the button or simply remove it?

Thankyou

[2016-12-28 22:53] leMaik commented on #7
Hi,
there is no way to hide the button, yet. Good idea, we'll add that! 👍
What do you mean with "call to action"? Do you want to change the button?

[2016-12-28 23:16] adeelibr commented on #7
Hi,
What I mean was there should be a trigger to some function when you click the button, I mean that's the whole point of a button, right?

[2016-12-28 23:32] saschb2b commented on #7
@adeelibr That's what the prop onStart is for

[2016-12-28 23:33] leMaik commented on #7
Exactly, that's what a button should be used for. 😅 You can use the `onStart` property to specify a function that is called when the button is clicked.

[2016-12-28 23:59] adeelibr commented on #7
@saschb2b  @leMaik  Oh okay, sorry my bad! Thank you. Can you kindly tell me a hack for now to remove the button.

[2016-12-29 13:54] saschb2b commented on #7
The purpose of this component is that the user sees the benefits of your web app. And then close it with a specific action. If you remove the button, there is not not a specific way to dismiss this component at all. By the way, there is no hack to remove it. It is not intended to be removed.

[2016-12-29 19:07] adeelibr commented on #7
Oh okay, thankyou for the help.

[2016-12-29 19:09] saschb2b commented on #7
But could you elaborate on why you would want to remove the button? In which usecase is that needed? We are trying to improve this component as much as we can.

[2016-12-29 19:12] adeelibr commented on #7
I am using this component as slider on my app rather than a modal carousal, I don't need a button on those banners. The slides just keep on rotating there so I don't need a button I just need a rotating slides with some text on it & this component seemed like a perfect solution it is very elegantly made.

[2016-12-29 19:16] saschb2b commented on #7
Ah ok. You are using it as an internal information carousel. See #6 as there is someone else wanting to achieve this. This component is really not made for this. We made it like google material intendet it to be. We build this on top of the react-swipeable-views package. Maybe you could build your own slides with it.

[2017-01-01 15:46] leMaik commented on #6
@alexanderwhatley That looks like a lot of hacky things. I really think that it would be faster to code your own carousel (feel free to take a look at our code, it's not _that_ hard :wink:) than to hack our component  to fit your very different requirements.

[2017-01-13 12:27] saschb2b commented on #7
@adeelibr Did you find a solution for your use case?

[2017-01-13 12:34] adeelibr commented on #7
Hi,
I ended up using the button for a signup page, so when someone clicks on the button they are taken to the  "Create An Account" page on my site. :)

[2017-01-13 12:42] saschb2b commented on #7
Oh ok good idea. Then I close this. You're welcome if you have further ideas :)

[2017-01-13 12:42] #7 closed

[2017-01-28 14:21] saschb2b commented on #6
I'll close this issue for now due to one month of silence. Feel free to open another issue if you have further problems.

[2017-01-28 14:21] #6 closed

[2017-02-14 09:48] sstubbs opened #9 "rtl support"
when I change the direction to rtl it breaks this carousel. Would you be able to fix this?

[2017-02-14 12:04] leMaik commented on #9
Thank you for the report, it looks like there is some strange positioning issue if the direction is set to rtl. Mobile landscape mode works fine, though.

[2017-02-14 12:55] sstubbs commented on #9
It looks like it also happens in react-swipeable-views and I have created an issue there too. https://github.com/oliviertassinari/react-swipeable-views/issues/243 I would like to help too as I desperately need this feature but am not really sure where to start.

[2017-02-14 12:56] leMaik commented on #9
@sstubbs Okay, this means that this should be fixed in react-swipeable-views first, then I can update the version and it will just work.

[2017-02-15 16:32] pssuralkar opened #10 "How to override inline CSS?"
Hi, Could you please help me on below issue.
I am facing issue in inline CSS style which is added dynamically below is the code for reference:
[code]
Thanks in Advance.

[2017-02-15 16:45] leMaik commented on #10
Could you please tell me which issue you face?

[2017-02-15 16:45] saschb2b commented on #10
What exactly are you trying to produce at the end? Seems like you want to embed it in a container precisely? If so see please #6
This component is not intendet for embedding pruposes. It's like google designed it. Always on top before anything will happen. It's to introduce your users to your app. Not an extra sliding component. If you are just searching for a sliding way see the swipeable view de

[2017-02-15 17:14] pssuralkar commented on #10
Thanks for your replay.
I wanted to add custom width for container section through css.
Current width is 60% and added dynamically.
Now I wanted to make it 100% width for container section.
Can you please assist how to add or override custom css?

[2017-02-15 17:37] saschb2b commented on #10
I added a contentStyle prop and the style prop to the readme in version 1.3.0 . Setting width and maxWidth to 100% over contentStyle will stretch it out. I just want to point out that it's not intendet to be out of bounce. we stayed strictly after the google design guidelines.

[2017-02-16 09:55] pssuralkar commented on #10
Thanks for your replay, I can see you have added fixed width i.e 60% for outer content, which I wanted to override with 100%. if you can inspect below code then you can see below inline css for below code.

CSS Code which is apply dynamically
(
width:60%;
max-width:700px;
height:calc(100% - 96px);
max-height:600px;
margin:-16px auto 0;
position:relative;
top:50%;
transform:translateY(-50%);
)

Bel

[2017-02-16 10:00] saschb2b commented on #10
Use the contentStyle of AutoRotatingCarousel no from every slide.

[code]

[2017-02-16 10:12] pssuralkar commented on #10
Hi, If possible can you please share your email id so I can send you screenshot with inspected code so you will get more idea on that issue.

[2017-02-16 10:12] saschb2b commented on #10
You can add screenshots here. Share it with the community. That's the point of open source projects

[2017-02-16 10:19] pssuralkar commented on #10
<img width="1920" alt="screengrab1" src="https://cloud.githubusercontent.com/assets/20420448/23017222/52bb395a-f431-11e6-8b90-4cf95b688ad2.png">

I have added screenshot with inspected code which i want to override with

[2017-02-16 10:22] saschb2b commented on #10
That the style defined in `style.content` which can be overriden by using the prop contentStyle of the AutRotatingCarousel as published with version 1.3 since yesterday.

[2017-02-16 10:24] pssuralkar commented on #10
as per your solution that style applied exact above of the selected code in inspect tool but I wanted to override highlighted code only.

[2017-02-16 10:28] saschb2b commented on #10
Maybe we have a communication issue but using

[code]

[2017-02-16 11:17] pssuralkar commented on #10
Thanks. just one question if I want to remove box-shadow and border radius which is applied in outer content. So should I need to add custom style in contentStyle={{ }} section. Is that right?

[2017-02-16 11:18] leMaik commented on #10
@pssuralkar You would be better if you'd just use a different slide component for your use-case instead of abusing this component to fit your needs.
Everytime a developer styles this component to look/behave differently than the Material Specs intended, a designer kills a unicorn. Please help saving the unicorns! :unicorn:

[2017-02-16 11:20] pssuralkar commented on #10
thanks

[2017-05-12 19:49] mjsevilla opened #14 "Support for material-ui@^0.18"
`npm WARN material-auto-rotating-carousel@1.3.1 requires a peer of material-ui@^0.17.4 but none was installed.`

Can I still use this if I'm running material-ui 0.18?

[2017-05-12 20:21] leMaik commented on #14
I started to set the peer dependency of material-ui to `< 1.0.0`, treating anything that doesn't work with a version below that as a bug.
So yes, it should work fine. :+1:

[2017-05-12 20:24] mjsevilla opened #15 "Open slides by clicking the small dots"
Is there a way to add back the clickable arrow keys when the `mobile` prop is set to true? I want the edge-to-edge carousel but also want users to click between slides, not just use their arrow keys.

[2017-05-12 20:27] leMaik commented on #15
No, that's not possible as we stick to the Material Design specs and there are no arrow buttons in the "edge to edge" mode.
What we could do is make the small dots clickable in order to navigate directly to a page. How about that?

[2017-05-12 20:30] mjsevilla commented on #15
Yeah, that sounds great! I'm implementing a few more than three slides, so it would be a nice to have feature for users to click to further slides if they would prefer over swiping continuously. With that said, this next question may sound silly, but if I were to put this on a giant touch screen, a user would be able to swipe between each slide, yes?

[2017-05-12 20:33] leMaik commented on #15
Yes, thanks to react-swipeable-views, the user can swipe just fine. :+1:

[2017-05-12 21:26] #14 closed

[2017-05-13 00:01] #15 closed

[2017-05-13 08:56] leMaik commented on #15
I just published v1.4.0 which adds support for clicking on the small dots to navigate through the slides. :tada:

[2017-05-25 10:39] TeaSeaLancs opened #16 "Exposing Dots as a standalone component"
Hi there,

Would it be possible to expose the `Dots` component as its own component, potentially with its own repo?

There are circumstances where i'm developing a carousel which doesn't fit into the Top User Benefits design which this component adheres to, so using this component outright isn't possible.

I'm creating my own view using `react-swipeable-views` as you have, and it would be fantasti

[2017-05-25 10:45] leMaik commented on #16
I was thinking about making the dots their own independent project but then I thought that, well, they are just dots. :smile: But now that the dots are animated, the dots might be of use for more projects. :thinking:

I'll release them asap, looking to see what you'l make out of them! :+1:

[2017-05-25 10:58] TeaSeaLancs commented on #16
That's great, thanks so much :) And yeah, the animation is great, really nice work on that.

[2017-05-25 10:58] leMaik commented on #16
Thank you! :blush:

[2017-05-25 12:45] leMaik commented on #16
[Done!](https://github.com/TeamWertarbyte/material-ui-dots)

[2017-05-25 12:45] #16 closed

[2017-05-26 09:26] TeaSeaLancs commented on #16
![Thanks!](https://media.giphy.com/media/qPVzemjFi150Q/giphy.gif)

[2017-07-18 22:30] leebailey88 opened #17 "Minimal option?"
It is possible to use this carousel library with very minimal options, i.e. the slide being only a single image with no text or buttons?  I still want to show the dots, use the auto-rotate functionality and plug into the event handlers, but I can't find an easy way to render my carousel without buttons and text on the slides.  Is this supported?

[2017-07-20 19:14] #17 closed

[2017-08-22 09:34] pipzpadilla commented on #10
how to hide the dots and arrows???

[2017-08-22 09:38] saschb2b commented on #10
@pipzpadilla This component is designed with google material design in mind. If you hide the arrows and dots there is nearly no action at all it's not aligned with the design specs anymore.  You can however use the `mobile` prop to force the mobile view without the arrows left and right.
The dots are still there.

For now I would recomment using the underlying module https://github.com/oliviertass

[2017-09-14 02:56] daumann commented on #10
@leMaik @saschb2b it is good practice to expose all containers used via API for styling. Especially if it is a visual component like this. Unreachable containers are very frustrating...

Also, a carousel with different dots and arrows/ 0 border radius can very well be material design. Just have a look at the [Google Earth Carousel](https://earth.google.com/web/) (click on Voyager icon left).

Desp

[2017-09-14 09:41] leMaik commented on #10
@daumann Could you elaborate on why this is unfortunate?

[2017-09-14 09:58] daumann commented on #10
@leMaik I understand and thanks for this great component. The only thing I don't understand is that you are against the idea of exposing containers for _optional_ customized styling by devs. This won't take away from your project and would not require a lot of effort on your side.

[2017-09-14 10:00] leMaik commented on #10
@daumann Okay, I could expose the inline styles. But that still wouldn't give developers the ultimate flexibility they might want. But I don't want to expose renderers for the dots, the arrows, etc. That's what would bring a lot of additional complexity into the code.

[2017-09-15 11:09] simondell opened #20 "Doesn't fit in portrait mode iOS Safari"
When a site or web app using a `<AutoRotatingCarousel>` is viewed through Safari iOS, held in portrait orientation, the `<Slide>`s bleed out of the edges of the screen. Most significantly, the call to action button at the bottom becomes obscured by Safari's footer.

When the same site/app is launched from the home screen, or (I assume) in a WebView in a native/hybrid app, then the carousel fills a

[2017-09-15 11:12] leMaik commented on #20
Thanks for reporting this! Sounds like Safari doesn't play nicely with `width` and `height` being `100%` and `position: fixed`.

I'll take a closer look as soon as I get access to an iPhone (next week).

[2017-09-15 11:14] simondell commented on #20
Thanks. I'm having a look for a solution too. I'll PR if I find one.

[2017-09-15 11:15] leMaik commented on #20
@simondell Could you try setting the width [here](https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/master/src/AutoRotatingCarousel.js#L85) to `100vw` and the height to `100vh`?

[2017-09-15 13:45] simondell commented on #20
I failed to get 100vw/100vh working.

This [well researched article][nope[ suggests both reasons why I/we see the error and also that vw/vh will not fix the problem. I'm looking into alternatives.

[nope]: https://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html

[2017-09-15 14:49] leMaik commented on #20
Thanks for the link! :+1: The article basically says that the "bug" is intended and won't be fixed. So… I'm interested in how to fix this.

[2017-09-19 10:42] simondell commented on #20
That was my interpretation as well.
I tried your 100vw/100vh suggestion. I also tried `position: fixed; top: 0; right: 0; bottom: 0; left: 0;` but that appeared the same as the other two (unsurprisingly). I'm similarly unsure what to attempt next (without changing the design). For our own app I have created a fork and pulled the call to action up using a greater negative margin... but this is a ha

[2017-09-19 10:47] leMaik commented on #20
Well, at least it's a fix. :wink: Thanks for your investigation anyway. I'll take a closer look at this issue later.

[2017-09-20 21:29] mirocody opened #21 "Error from Sample code"
Hello I got the following error while playing with the sample code in ReadMe file:
[code]
[code]
Anyone also met this problem?

[2017-09-20 21:43] mirocody commented on #21
fixed by wrapping with <MuiThemeProvider>

[2017-09-20 21:43] #21 closed

[2017-09-20 22:11] leMaik commented on #21
Yeah, I didn't add this to the sample code because _anything_ needs to be wrapped in `MuiTheme` when using Material-UI anyway. Thanks for pointing this out, maybe it will help others in the future.

[2017-09-20 22:56] mirocody opened #22 "Can we modify the left/right button?"
Thank you for your awesome work! But I want to modify the styles of the button, or even remove the button. Could you please make them as optional, or let dev could modify their style?

[2017-09-20 22:58] leMaik commented on #22
Please take a look at #10 to see why we don't support that at the moment.

If you remove the buttons, wouldn't you just end up with a slide show? :thinking:

[2017-09-21 20:30] mirocody commented on #22
Hi @leMaik thank you for the response. I checked your comment there and I was wondering if the inline styles are exposed to the devs now? In my case the space between container and arrow is too wide so I need either modify the style or just delete.
As my personal preference, I would like to delete the arrorw but just keep the dots.

[2017-09-21 20:32] leMaik commented on #22
I'd be okay with adding a prop to hide the buttons in the desktop version. :+1: Want to create a PR?

[2017-09-21 20:36] mirocody commented on #22
Sure I can do that. Do you just want a prop to make the button optional, or also expose the inline style to the devs?

[2017-09-21 20:50] leMaik commented on #22
Well... I don't _want_ to, but there are so many requests that I think we should finally add that. :confused: But please split the PRs. :wink:

[2017-09-21 21:16] mirocody commented on #22
Hi I am new to npm, I forked this repo and made change to my forked repo, then replace
"material-auto-rotating-carousel": 'version' with my forked github address `"https://github.com/mirocody/material-auto-rotating-carousel/tarball/master",` to test that. But after doing the `npm install` it shows cannot find module `material-auto-rotating-carousel`, do you have any idea how to solve it?

[2017-09-21 21:18] leMaik commented on #22
No need to modify anything in the `package.json`. Just fork it, run `npm install` and start coding. :wink:

[2017-09-21 22:42] mirocody commented on #22
Thanks. I just created PR for hide button and would create a separate PR for exposing the inline style later.
My question for npm is: I try to import my forked(with modification) material-auto-rotating-carousel  to my another project(`project A`). And in package.json from that project, I have this line `"material-auto-rotating-carousel": "github:mirocody/material-auto-rotating-carousel"`, however

[2017-09-22 05:34] mirocody commented on #22
Hmmm and one more question, I tested by `npm run storybook` and could get the demo, but the code changed in `AnimationDemo.js` does not apply to the web. 🤔

[2017-09-22 07:48] leMaik commented on #22
Go in project A's directory and run `npm link <path to your material-auto-rotating-carousel directory>`. Voilà, linked! :sunglasses:

Remember that you need to build the project in order to use it linked, run `npm run build` in the material-auto-… directory.

[2017-09-22 08:02] leMaik commented on #10
@daumann Since there were so many requests, the inline styles are finally going to be exposed. :+1: See #23

[2017-09-27 14:29] pedrost opened #25 "Port to material-ui 1.0.0-beta"
So, im getting
Module not found: Can't resolve 'material-ui/svg-icons/navigation/arrow-back' in 'C:\Users\Pedro\tt\node_modules\material-auto-rotating-carousel\lib'

I'm using material-ui last version, should i use a previous one?

[2017-09-28 11:06] leMaik commented on #25
Unfortunately, this component is not yet ported to material-ui v1-beta :cry: We'll port it soon, but for now, you'll need material-ui v0.19 (or any other version < 1.0.0).

[2017-11-01 23:21] mirocody opened #27 "Warning: Unknown props `mobile`, `landscape` on <div> tag."
Got the following while embedded the AutoRotatingCarousel into my component.
[code]
If I move the code from line 180-183 the warning disappeared.
[code]

[2017-11-01 23:27] leMaik commented on #27
Removing that code is a pretty bad idea since that will cause the component not to display any slides.

It looks like you don't use the `Slide` component as children of the carousel? Could you please post some code and check out the usage examples?

[2017-11-01 23:49] mirocody commented on #27
Here is the code I used. I replace the dummy style code with '..' . Did I miss any prop here?
[code]

[2017-11-02 19:09] leMaik commented on #27
Now compare that to the example code. :wink: You don't need a `div` container for the slides, just remove that please. It should work then.

[2017-11-02 19:09] #27 closed

[2017-11-04 11:09] leMaik commented on #22
@mirocody I'm reopening this since your PR adresses this issue :+1:

[2017-12-04 23:44] barbush opened #30 "Issue with material-ui paths"
Hi,

The material paths changed I think e.g. colors are in material-ui/colors excluding /styles

Installing I got the following errors:

These dependencies were not found:

* material-ui/RaisedButton in ./~/material-auto-rotating-carousel/lib/AutoRotatingCarousel.js
* material-ui/styles/colors in ./~/material-auto-rotating-carousel/lib/AutoRotatingCarousel.js, ./~/material-auto-rotating-carousel/l

[2017-12-05 07:38] leMaik commented on #30
This component is not yet compatible with material-ui@1.0.0-beta. We will port it soon. :)

[2017-12-05 07:38] leMaik commented on #30
I'll close this as duplicate of #25.

[2017-12-05 07:38] #30 closed

[2018-01-07 21:43] Koerner commented on #20
Hi, I have the exact same issue with Safari on iOS. Are there any updates about this?

What I did so far:
`contentStyle={safariStyle.container}`
`const safariStyle = {
  container: {
    marginTop: -44
  },
}`
But now I have this margin on non-IOS devices. Any idea how I can fix this? Thanks

[2018-01-07 21:47] leMaik commented on #20
@Koerner Still not fixed, unfortunately.

Does it work with `position: 'fixed', top: 0, left: 0, width: '100%', height: '100%'`? That's what material-ui uses for the backdrop of the dialog (which is full-screen and _should_ work properly even on Safari) :thinking:

[2018-01-08 19:45] Koerner commented on #20
Nope, I just tried it. But for iOS that doesn't change anything.

Is there a way to color the `44px` in the color of the (changing) slider `background-color`?

[2018-01-18 05:02] SuperBerny opened #31 "Raised Button is not in material-ui's library"
Can't resolve 'material-ui/RaisedButton' from node_modules\material-auto-rotating-carousel\lib'

I tried importing { Button } from 'material-ui' on AutoRotatingCarousel.js instead of { RaisedButton } but still get the same error that it can't resolve material-ui/RaisedButton.

[2018-01-18 08:10] Koerner commented on #31
Try this:
`import FlatButton from 'material-ui/FlatButton';` or `import RaisedButton from 'material-ui/RaisedButton';`

[2018-01-18 08:43] SuperBerny commented on #31
Get this error:
./node_modules/material-auto-rotating-carousel/lib/AutoRotatingCarousel.js
Module not found: Can't resolve 'material-ui/RaisedButton' in 'C:\Users\brian\Desktop\Bootcamp\Kuche\client\node_modules\material-auto-rotating-carousel\lib'

With this code:
[code]

With this code:

`import React, { Component } from 'react';
import FlatButton from 'material-ui/FlatButton'
// import RaisedBu

[2018-01-18 09:03] leMaik commented on #31
You are most likely trying to use this component with material-ui@1.0.0, which is not yet possible. See #25 and #28 for progress in this. We'll port it soon :tm:

[2018-01-30 04:35] repl-ullas-ml opened #32 "Allow customizing the style of the button"
Need ability to theme the button via setting style.
http://www.material-ui.com/#/components/raised-button

[2018-01-30 22:19] repl-krishna-g opened #33 "Swipe left and right is not updating dotes view"
Swipe left and right on mobile not updating dots and not notifying onChange(position)

[2018-02-01 21:34] repl-ullas-ml opened #34 "Incorrect number of slide count being rendered"
I have configured for 3 slides. But the the number of slides gets doubled ie to 6. Is there a prop property by which i can disable this?

[2018-02-02 23:25] leMaik commented on #34
This shouldn't happen and I can't reproduce this. Could you please post the code you're using?

[2018-02-02 23:27] leMaik commented on #33
I'm afraid I can't reproduce this. https://next.mui.wertarbyte.com/#material-auto-rotating-carousel works fine when I swipe.

[2018-02-02 23:30] leMaik commented on #32
It's just not implemented at the moment. Feel free to submit a PR. :+1:

[2018-02-14 19:32] xech3l0nx commented on #33
same thing happening here, had to disable pointer events to prevent users from swiping, and implement custom next button on mobile

[2018-02-14 19:36] leMaik commented on #33
@repl-krishna-g @xech3l0nx I'll look into this issue. Could you please provide some more information, e.g. the browser where swiping doesn't work, the material-ui version you use, and any other information that is more specific than "here"? :wink:

[2018-02-14 19:39] xech3l0nx commented on #33
as soon as I get it working and I can ship it into production I will share more info with you!
Now I am working on that other issue of the dialog not fitting into view on Safari Mobile because of the bottom navigation bar. ;-)

Thanks for this library btw, it's saving me some time.
The safari mobile one is a known issue

[2018-02-14 19:42] leMaik commented on #33
@xech3l0nx So swiping doesn't work on _Safari_? :thinking:

[2018-02-14 19:44] xech3l0nx commented on #33
it didn't work on Chrome as well, and not only on mobile, also in the chrome simulation of a mobile device viewport on desktop

[2018-02-14 19:44] leMaik commented on #33
@xech3l0nx Regarding the viewport issues, here's a known ugly work around: https://github.com/TeamWertarbyte/material-auto-rotating-carousel/issues/20#issuecomment-355855158

[2018-02-14 20:58] leMaik commented on #33
@xech3l0nx Could you please try to add `ignoreNativeScroll={true}` to the `AutoRotatingCarousel.js` file in your `node_modules/material-auto-rotating-carousel/lib` directory and see if this fixes the swiping issue?

[2018-02-15 22:14] xech3l0nx commented on #33
Tried and it doesn't

These are the project's dependencies:

"material-auto-rotating-carousel": "^1.7.0",
"material-ui": "^0.16.7",
"react": "^15.6.2",

[2018-02-15 22:15] leMaik commented on #33
@xech3l0nx Meh… Could you provide the code that embeds the carousel?

[2018-02-15 22:21] xech3l0nx commented on #33
what do you mean? this?
[code]

[2018-02-15 22:27] leMaik commented on #33
@xech3l0nx Hm… Looks fine so far. What components are _around_ the carousel? I can't reproduce this, so I guess there's something on the page that modifies the swiping behavior. :thinking: Could you please try putting the carousel on the root of your page and see if it works then?

[2018-03-25 12:04] leMaik commented on #34
I'll close this after almost two months without a response. Please re-open this with an example on how to reproduce the issue.

[2018-03-25 12:04] #34 closed

[2018-03-25 12:05] leMaik commented on #25
Good news, I'm on it! :tada:

[2018-03-25 15:54] leMaik commented on #33
I'm closing this after over a month without a response. Feel free to re-open this issue if you need further help.

[2018-03-25 15:54] #33 closed

[2018-04-28 16:14] #31 closed

[2018-04-28 20:31] leMaik commented on #25
Done! :tada: `npm i --save material-auto-rotating-carousel@next`. Docs are here on the `next` branch, let me know what you think. :+1:

[2018-04-28 20:31] #25 closed

[2018-04-29 10:39] leMaik commented on #9
I'm closing this as it's already possible: https://github.com/oliviertassinari/react-swipeable-views/issues/243#issuecomment-280338432

[2018-04-29 10:39] #9 closed

[2018-04-29 10:45] #10 closed

[2018-04-29 10:45] #22 closed

[2018-06-04 15:35] gpdeedler commented on #25
Hi . Thank you for updating this!  The 2.0.0 version package.json uses
"@material-ui/core": "^1.0.0",
"@material-ui/icons": "^1.0.0"

Which uses the newest version of material-ui but NOT the newest approach of using material-ui-icons.

This new one updates to the newest material-ui-icons which is good but seems to roll back to "material-ui": "^1.0.0-beta.38" instead of "@material-ui/core": "^1.0.0

[2018-06-04 21:16] leMaik commented on #25
@gpdeedler I don't know what you mean. Using ^1.0.0 for both is exactly what I intended to do and how both packages are meant to be used. Also, @material-ui/icons ^1.0.0 [does not](https://github.com/mui-org/material-ui/blob/master/packages/material-ui-icons/package.json#L39) roll back anything… it depends on @material-ui/core ^1.0.0

[2018-06-04 21:30] gpdeedler commented on #25
When using the latest builds of material-ui you access it with @material-ui / core not with material-ui.  So the forward slash "core" is now missing...

[2018-06-04 21:33] leMaik commented on #25
@gpdeedler Sorry, I don't get it.

[2018-06-21 04:12] fadeenk opened #38 "ContainerStyle is hardcoded"
This forces the carousel to take over the entire window. It will be nice to be able to overwrite this style. I am not sure if there is a way to do so and I am just blanking out on it.

https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/5640e0068c252eabe9f9ac08535b510a252226b1/src/AutoRotatingCarousel.js#L160

[2018-06-21 07:41] leMaik commented on #38
Indeed. PR welcome. :+1:

[2018-06-22 07:50] leMaik commented on #32
This is now possible in v2.0.0 for Material-UI 1.0 using the `classes` prop.

[2018-06-22 07:50] #32 closed

[2018-08-30 06:20] tmf-chris opened #43 "Button style cannot be overriden"
The button by default is a RaisedButton and it cannot be changed for a FlatButton; neither can its styles be changed (for instance I need to say primary={true}). It would be great if the button could either be a child prop of its own, so the user can pass in their own button, or there is a buttonStyle prop that can be passed to it.

[2018-10-04 10:26] gabrielechesi opened #44 "Single slide not permitted"
It return an error:
`children.map is not a function`

[2018-10-19 15:47] PorterK commented on #44
Fixed in #45

[2018-10-21 13:31] #44 closed

[2018-10-21 14:26] #43 closed, assigned to nobody

[2018-10-21 14:38] #38 closed

[2018-12-02 22:46] sys-dev opened #46 "material-ui deprecation of 'raised' variant"
I'm getting this warning using material-ui 3.5.1

index.js:1452 Warning: Failed prop type: The `raised` variant will be removed in the next major release. `contained` is equivalent and should be used instead.
    in Button (created by WithStyles(Button))
    in WithStyles(Button) (created by AutoRotatingCarousel)
    in div (created by AutoRotatingCarousel)
    in div (created by AutoRotatingCarou

[2018-12-02 22:49] leMaik commented on #46
I really don't get why Material-UI keeps renaming things lately. :confused: I'll "fix" this soon, but you can ignore this message for now.

[2018-12-18 01:44] skirunman commented on #46
@leMaik Material-UI has renamed this prop because name was changed in official Material Design specs by Google. Anyway,  a similar warning is also being generated because Fab button is now a separate component. https://github.com/mui-org/material-ui/pull/13573

[2018-12-18 07:52] leMaik commented on #46
@skirunman Renaming this _now_ in material-ui-auto-rotating-carousel would be a breaking change that would prevent it from working with material-ui 1.0.0-3.4.x. That's why I'd like to wait for material-ui 4.0 to be released before changing it and then release a new major version of the carousel.

[2018-12-22 16:59] #46 closed

[2018-12-22 17:16] leMaik commented on #46
@sys-dev @skirunman There you go: https://github.com/TeamWertarbyte/material-auto-rotating-carousel/releases/tag/v3.0.0

[2018-12-30 21:58] matiszz opened #48 "Incorrect order of slides - Mobile"
I have 5 slides. On desktop works good, but in mobile I've found two bugs (only when autoplay=false):

1. The dots doesn't move (only the first dot is lighted)
![image](https://user-images.githubusercontent.com/9436778/50551764-75062a00-0c86-11e9-890f-c81551859dec.png)

2. The slides are disordered. It renders like: **Slide 3, Slide 4, Slide 5, Slide 1, Slide 2, Slide 3** (but the first to render

[2019-01-02 21:58] #48 closed

[2019-01-02 21:59] leMaik commented on #33
Finally fixed this. The carousel didn't work with `autoplay={false}`. :open_mouth: #48

[2019-01-02 23:36] leMaik commented on #48
Hi @matiszz! :wave: I was able to reproduce the issue and it should be fixed in v3.0.1. Please let me know if it still doesn't work for you.

[2019-01-22 01:05] vchouhan opened #49 "autoplay false setting on the AutoRotatingCarousel is not working"
Tried to use the carousel with autoplay=false but it doesn't seem to work.
I've setup a small demo on this URL.
`https://codesandbox.io/s/xrv093486o`

<img width="714" alt="screen shot 2019-01-21 at 8 04 12 pm" src="https://user-images.githubusercontent.com/1222739/51505976-c3a37180-1db7-11e9-9e8c-26d50176d6af.png">

[2019-01-22 09:44] leMaik commented on #49
:+1: for reporting this and for the demo! :clap:

[2019-01-22 13:16] leMaik commented on #49
The prop type of `autoplay` is boolean. It should be `autoplay={false}`, then it will work.

[2019-01-22 13:16] #49 closed

[2019-04-29 18:20] max10rogerio opened #50 "Add more buttons"
hi, i need add more buttons on bottom, where display an button default.

![teste](https://user-images.githubusercontent.com/21085292/56917607-4d876880-6a92-11e9-8177-8e8d9b970310.png)

[2019-04-30 19:17] leMaik commented on #50
I think the most flexible way to do this is to allow overriding [the button container](https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/master/src/AutoRotatingCarousel.js#L217) (e.g. to provide a custom `div` container with multiple buttons).
@max10rogerio Do you want to give it a try and submit a PR?

[2019-05-09 05:48] dbdashij opened #51 "Fast forwarding when switching back to browser tab"
browser: chrome 74.0.3729.131

symptom and steps to reproduce:

1. open a page in a tab with `autoplay` rotating carousel (use default `interval` - 3000 ms)
2. switch to a different tab and take a break for about 10 seconds
3. switch back to the tab in step 1, you will see slides fast forwarding and eventually it slows down to the correct interval

what's expected:

slides in the autoplay carousel

[2019-05-09 08:35] leMaik commented on #51
@dbdashij Thanks for the detailed bug report! I was able to reproduce it and reported it upstream at react-swipeable-views. Let's see what causes this issue.

[2019-05-09 14:28] leMaik commented on #51
@dbdashij Waiting for my upstream fix to get merged and released. :hourglass_flowing_sand:

[2019-05-10 10:43] #51 closed

[2019-05-10 10:45] leMaik commented on #51
@dbdashij Allright, I updated the peer dependency and will release a new version soon. In the meantime, you can update react-swipeable-views to ^0.13.3 to fix this issue.

[2019-05-10 22:17] dbdashij commented on #51
Thank you!

[2019-05-21 05:29] binarykitchen opened #52 "Show more than one and horizontally scrollable"
A horizontally scrollable carousel would be nice. Showing more than one tile at the same time. And still can navigate left and right.

[2019-05-21 05:31] binarykitchen commented on #52
Similar like https://owlcarousel2.github.io/OwlCarousel2/demos/basic.html

[2019-05-21 08:01] leMaik commented on #52
Great idea for a new project. :+1: We would like to keep this one simple, though; It's just the auto-rotating carousel as seen in the MD guidelines, nothing more, nothing less.

[2019-05-21 08:01] #52 closed

[2019-05-21 21:23] binarykitchen commented on #52
Respect that

[2019-06-19 11:08] LucaHermann opened #53 "Error"

[2019-06-19 11:08] LucaHermann opened #54 "Error"

[2019-06-19 11:08] LucaHermann opened #55 "Error"

[2019-06-19 11:08] LucaHermann opened #56 "Error"

[2019-06-19 11:08] LucaHermann opened #57 "Error"

[2019-06-19 11:08] LucaHermann opened #58 "Error"

[2019-06-19 11:08] LucaHermann opened #59 "Error"

[2019-06-19 11:08] LucaHermann opened #60 "Error"

[2019-06-19 11:08] LucaHermann opened #61 "Error"

[2019-06-19 11:08] LucaHermann opened #62 "Error"

[2019-06-19 11:08] LucaHermann opened #63 "TypeError: Cannot read property 'length' of undefined"
Hello ! I try to implement a carousel inside a mui project but your are broken so i open this ticket for you !

**node_modules/material-auto-rotating-carousel/lib/AutoRotatingCarousel.js:315**

[code]
that the error message throw by react when i try to implement your component.

[2019-06-19 11:09] #53 closed

[2019-06-19 11:09] #54 closed

[2019-06-19 11:10] #55 closed

[2019-06-19 11:10] #56 closed

[2019-06-19 11:10] #57 closed

[2019-06-19 11:10] #58 closed

[2019-06-19 11:10] #59 closed

[2019-06-19 11:10] leMaik commented on #63
Would you please not open 8 spam issues the next time you report a problem?

[2019-06-19 11:10] #60 closed

[2019-06-19 11:10] #61 closed

[2019-06-19 11:10] #62 closed

[2019-06-19 11:11] saschb2b commented on #63
I closed the other error tickets. Can you provide the implementation? Otherwise it'S hard to pinpoint where your problem is

[2019-06-19 11:12] leMaik commented on #63
Looks like you didn't provide any children. Please take a look at the examples provided here: https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/master/src/AutoRotatingCarousel.md

[2019-06-19 11:12] #63 closed

[2019-07-09 12:50] aniruddhashevle opened #64 "How to override unnecessary styling"
**Why the title and subtitle are necessary in the first place?** **If I don't pass'em as props, still the unnecessary gap is there.** Can not select the classes to remove that unnecessary gap, as the class names are created dynamically.

**If we added className as a prop to the Slide component, actual class (which is gonna generate dynamically) is not added, only className coming from the prop is

[2019-07-09 12:59] aniruddhashevle commented on #64
In the styling, on class names, Slide-root-x > Slide-mediaBackground-y (x and y are some random number generated), some height is given as,
`height: calc(100% - 216px);`

If we do,
`height: 100%;`
It works fine.

But how to select the class Slide-mediaBackground-y , as y is dynamically generated?

[2019-07-22 20:59] ziedHamdi opened #65 "how to start in a given index (ex: resume tutorial)"
Hi,

I'm new to js, I would like to open the caroussel in a selected slideIndex. Looking to the code, it seams quite complex (probably to be compatible with older syntax???) for ex:

[code]
instead of
`class AutoRotatingCarousel extends React.Component {}` ???

Anyway, my problem is elsewhere : I'd like to pass **slideIndex** as a property and it seams I have to fork the project to be able to do i

[2019-07-23 08:55] saschb2b commented on #65
We appreciate you using it :)

I think you've looked into the compiled code. Not in the srouce code. See here https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/master/src/AutoRotatingCarousel.js
It's a normal react component back when hooks didn't exist.

The component is an uncontrolled one. (more like a black box) The intend was to use it as it is as the material specs sugge

[2019-07-23 09:05] saschb2b commented on #64
Because this component is **not** a image slideshow. It's a specific implementation of the material design spec guidelines. Every slide has text and those styles. If you need it to fit your styling I would suggest using this as inspiration and build your own with react swipeable views. We won't support complete custom styling to fit everyones use cases sorry

[2019-07-23 09:05] #64 closed

[2019-07-23 09:11] saschb2b commented on #50
I close this for now. PR is still welcome though :)

[2019-07-23 09:11] #50 closed

[2019-07-23 14:48] aniruddhashevle commented on #64
@saschb2b : Thank you for the clarifications and suggestions.

[2019-07-24 09:51] ziedHamdi commented on #65
Ok you're right, I was looking at the compiled code

thanks for redirecting me to those useful links.

Best regards

[2019-07-24 09:51] #65 closed

[2019-08-13 10:30] OliverJEvans opened #66 "Warning: React does not recognize the `transitionDuration` prop on a DOM element."
When using the [demo code](https://mui.wertarbyte.com/#material-auto-rotating-carousel) in a new react project the following error appears in the console.

No adverse effects of this warning, the carousel still works as expected.

----

**Test repo:** https://github.com/OliverJEvans/material-auto-rotating-carousel-issue

**Versions**
@material-ui/core@4.3.2
material-auto-rotating-carousel@3.0.1
re

[2019-08-14 19:48] leMaik commented on #66
Oh wow, great to hear that this works with Material-UI v4 without even updating it. :sweat_smile: Seems like some prop name changed, I'll look into this.

[2019-08-21 08:25] OliverJEvans commented on #66
Oh wow, didn't even realise this wasn't built for v4 to be honest.

While we're here then, in the test repo there were a few other warnings in the console relating to now renamed lifecycle hooks. I didn't mention these initially as they didn't appear on my main project. Looking back I should have realised that this was because it wasn't built for v4. Other than this everything still seems to work

[2019-08-21 13:46] OliverJEvans commented on #66
So I've had a look to see if I could solve this myself. The issue is passing the BackdropProps into the Modal component. https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/8af2f4676bad90a6a808cbb014dd9830eb4caf6c/src/AutoRotatingCarousel.js#L191

- The prop name has not changed between [v3][1] & [v4][2]
- The docs still imply the that you pass the transitionDuration prop as you

[2019-08-21 15:28] OliverJEvans commented on #66
Resolved in PR: https://github.com/TeamWertarbyte/material-auto-rotating-carousel/pull/67

[2019-08-21 15:59] #66 closed

[2019-08-21 16:05] leMaik commented on #51
Well, it's been a while, but I just published it. :see_no_evil:

[2019-10-28 05:26] danielbyun opened #69 "Handling images that do not load"
How do you handle when images don't get loaded for any reason?

[react-medium-image-zoom](https://www.npmjs.com/package/react-medium-image-zoom) provides an `onError` prop where we can load a placeholder image or something.

Thank you for the library!

[2019-10-29 12:00] ziedHamdi opened #70 "React does not recognize the `transitionDuration` prop on a DOM element"
Hi,

I have this error by simply using the lib

[code]

[2019-12-01 17:00] leMaik commented on #70
Duplicate of #67, please update to version 3.0.2

[2019-12-01 17:00] #70 closed

[2020-01-25 03:19] asciant opened #71 "Dependency React Swipeable Views Appears to have Changed Directory Structure"
A reproduction can be found here in the example that was never merged into the README.

https://codesandbox.io/s/mystifying-varahamihira-dphsr?fontsize=14

It appears that `react-swipeable-views` may have changed the directory structure in version 13.4, that causes `material-auto-rotating-carousel` to not compile.

I believe the issue sits within the `SwipableCarouselView.js` file between lines 2-

[2020-01-28 00:11] UndarkAido opened #72 "material-ui-dots@2.0.0 requires a peer of @material-ui/core@^1.0.0"
Every time I run an NPM action I get the warning
[code]
But this package calls for `"@material-ui/core": "^4.3.2"`. Is there any way to resolve this?

[2020-01-28 11:01] leMaik commented on #72
Does everything work for you? That would mean that I'd just have to bump the peer dependency of [material-ui-dots](https://github.com/TeamWertarbyte/material-ui-dots). PR welcome, looks like a low hangig fruit :sunglasses:

[2020-03-05 15:32] #72 closed

[2020-04-08 14:11] RaedShihab opened #75 "hide the lower half in Slide: material-auto-rotating-carousel"
Is there any way to hide the lower half of the slide (the part down to image)
[code]
here I tried to comment 'title' and 'subtitle' but that doesn't work as I want

[2020-04-16 19:07] justynspooner commented on #75
It doesn't look like that is supported. You could set the height yourself manually.

`mediaBackgroundStyle={{height: "100%",backgroundColor: blue[400] }}`

[code]

[2020-04-20 19:09] leMaik commented on #75
Indeed, this isn't supported. This component is pretty much hard-coded to look like the images in the (old) Material Design specs. If you want to convert it into a slideshow component, feel free to create a fork.

[2020-04-20 19:09] #75 closed

[2020-04-28 21:10] gauravcodemaya opened #76 "unable to use map to generate slides dynamically ?"
[code]

[2020-04-28 21:24] leMaik commented on #76
This should work fine, but without slightly more code or some explanation of your issue, I'm afraid I can't help you.

[2020-04-28 21:39] gauravcodemaya commented on #76
[code]

![Screenshot_2020-04-29_03-08-20](https://user-images.githubusercontent.com/34675131/80540360-c59aae00-89c6-11ea-8b61-a18c14f415c4.png)

[2020-04-29 07:56] leMaik commented on #76
If `arr` is null, the code doesn't work because we _require_ children.

Try this code instead:

[code]

[2020-04-29 08:59] gauravcodemaya commented on #76
thanks a lot man it worked

insted of returning empty array i need to return a dummy slide...

[code]

[2020-05-03 10:25] leMaik commented on #76
You could also only mount the entire `<AutoRotatingCarousel>` only if `arr` is not null: `arr && <AutoRotatingCarousel ...`
That wouldn't require a dummy slide.

[2020-05-03 10:25] #76 closed

[2020-07-20 12:54] leMaik commented on #69
There's an `onError` prop for `Image`, too. :+1:

[2020-07-21 04:29] danielbyun opened #80 "Title and Subtitle rendering inside Slide"
I have an array of strings to display on the carousel for the `subtitle` prop, and it throws an error.
It runs in the production fine, but was wondering if the library can support the array of strings for `title` and `subtitle`.

Thank you!

[2020-07-21 07:07] leMaik commented on #80
You can handle selecting one of the array items yourself when using the component. It only displays one title and subtitle at a time so it makes sense to keep the props as single strings imho.

[2020-08-05 07:28] MincePie opened #82 "Is it possible to embed a loom video instead of an image in the slide?"
Is it possible to replace the image with a loom embed?

 <Slide
          media={
            <img src="http://www.icons101.com/icon_png/size_256/id_79394/youtube.png" />
          }

[2020-08-05 07:59] MincePie opened #83 "Screen width below 600px"
The background image seems not to render when the screen width is resized below 600px.

Is there a way to make this responsive?

import React, { useState } from "react";
import ReactDOM from "react-dom";
// import Slide from "react-swipeable-views";
import Button from "@material-ui/core/Button";
import { makeStyles } from '@material-ui/core/styles';

import ButtonBase from '@material-ui/core/Butto

[2020-08-05 08:31] MincePie commented on #83
sorry - div issue - not related to this tool

[2020-08-05 08:31] #83 closed

[2020-08-05 08:50] leMaik commented on #82
Maybe; e.g. you could use iframes instead of the image.

[2020-08-05 09:07] MincePie commented on #82
how can i get the iframe into the image container?

[2020-08-13 02:56] danielbyun commented on #80
<img width="699" alt="Screen Shot 2020-08-13 at 11 54 56 AM" src="https://user-images.githubusercontent.com/23326866/90089261-d693e300-dd5b-11ea-81cb-b3732e6deaf7.png">

I use it like so where the title displays the date and the subtitle has to display multiple data at once (calories and the foods). I would like to customize the look of the subtitles to better display the information.

Therefore I

[2020-09-06 15:51] AnimeshTimsina opened #87 "Is there any type declaration for this package? How are we supposed to use this in Typescript?"
I can't use this package in typescript since there is no type declaration.

[2020-09-06 16:54] leMaik commented on #87
PR welcome. 😃 You can `@ts-ignore` the import for now.

[2020-09-19 11:32] mikkopori opened #88 "Warning: Received `false` for a non-boolean attribute `mobile`."
Hello,

I've started receiving:

`If you want to write it to the DOM, pass a string instead: mobile="false" or mobile={value.toString()}.

If you used to conditionally omit it with mobile={condition && value}, pass mobile={condition ? value : undefined} instead.
    in div (at AddContextTutorial/index.js:55)
    in div (created by ReactSwipableView)
    in div (created by ReactSwipableView)
    in

[2020-09-19 21:35] leMaik commented on #88
@mikkopori You most likely didn't use `<Slide>` elements inside the `<AutoRotatingCarousel>`. Anything that goes into the carousel gets passed `landscape` and `mobile` props (both booleans), because they are supposed to be slides.

[2020-09-20 12:17] leMaik commented on #71
I can't reproduce this with react-swipeable-views 0.13.4 or 0.13.9.

[2020-09-20 12:17] #71 closed

[2020-09-21 08:34] mikkopori commented on #88
Thank you, that solved the issue!

To anyone wondering on different ways to style the Slide -component it also accepts a 'classes' -prop as you can see in https://github.com/TeamWertarbyte/material-auto-rotating-carousel/blob/master/src/Slide.js

which is missing from the documentation on the front page.

[2020-09-21 09:43] mikkopori commented on #88
Sure, here you go:

https://github.com/TeamWertarbyte/material-auto-rotating-carousel/pull/89

:)

[2020-09-21 14:00] leMaik commented on #88
Thanks a lot, @mikkopori :+1:

[2020-09-27 05:46] Guneetgstar commented on #7
The idea to make it follow `material-design` specs should be allowed to use it anywhere. All that you must have done is to make it a bit modularized so that at least the `material-design` behavior could be extended/exported easily.
If it is possible then can please you tell me how I can abstract this behavior and use it my own costom components?

[2020-09-27 09:17] Guneetgstar commented on #7
The extracted [Dots](https://github.com/TeamWertarbyte/material-ui-dots) has done the trick for me. Now I have imported `Dots` and [react-swipeable-views](https://github.com/oliviertassinari/react-swipeable-views) and trying to mimic a similar behavior to `material-auto-rotating-carousel` but for **internal information carousel**.

[2021-01-02 22:08] magician11 opened #91 "Start carousel at specific slide index?"
When the carousel opens, is it possible to move/change to a specific slide?

[2021-01-02 23:43] magician11 opened #92 "Scrolling right in mobile view is broken"
Swiping left works fine, but scrolling right does this...

![Screen Shot 2021-01-03 at 12 15 19 PM](https://user-images.githubusercontent.com/3735849/103468714-f4242080-4dc0-11eb-984a-a609489dde1e.png)

Video example: https://www.loom.com/share/6e03c7c4f29e4f47a71450e6ee5638b3

When I installed this package, the React app was complaining it couldn't find `react-swipeable-views`
[code]

So I instal

[2021-01-27 04:04] ahan8927 opened #93 "Option for no modal?"
Is there an option to use this carousel without it being a modal?

[2021-01-27 08:49] saschb2b commented on #93
Currently not, as its intended use is as a modal. But you can use the underlying component managing the swipe views.
See https://github.com/oliviertassinari/react-swipeable-views
If you also want those sweet dots you can use https://github.com/TeamWertarbyte/material-ui-dots
With this you can build your own embedded swipeable views as you see fit.

[2021-02-01 13:57] #93 closed, assigned to nobody

[2021-03-04 16:30] Eric-Juquel opened #95 "warning message in console : componentWillMount has been renamed"
Hello,
i Got this warning when opening my carousel :

_Warning: componentWillMount has been renamed, and is not recommended for use. See https://reactjs.org/link/unsafe-component-lifecycles for details.

* Move code with side effects to componentDidMount, and set initial state in the constructor.
* Rename componentWillMount to UNSAFE_componentWillMount to suppress this warning in non-strict mode.

[2021-03-04 16:34] leMaik commented on #95
Neither `BindKeyboard` nor `Virtualized_` are from us, they are both from react-swipeable-views. It seems to have been fixed already (see https://github.com/oliviertassinari/react-swipeable-views/pull/616) but there was no new release since then.

Anyway, you can just ignore it for now (until updating to React 18.x one day). We can't fix this.

[2021-03-04 16:35] Eric-Juquel commented on #95
Ok thanks a lot , was a quick response 👍

[2021-03-04 16:36] leMaik commented on #95
Sorry, I just noticed that the fix is in fact released in react-swipeable-views 0.14.0-alpha.0 :raised_hands:

So… If you would like to fix this, update the dependency, see if everything works and also bump our peer dependency of React to `^16.8.0`. PR welcome :slightly_smiling_face:

[2021-03-04 17:14] Eric-Juquel commented on #95
upgrade switch off the warning , thanks again .

[2021-03-04 19:57] #95 closed, assigned to nobody

[2021-03-12 12:00] tuxd commented on #82
Why not just replace the Slide with your own component and pass some props?

[2021-07-23 13:32] laurent-pereira opened #104 "React @^17.0.0 compatibilty ?"
Can we have update react compatibilty with v17.0.0 and later

code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!

npm ERR! Found: react@17.0.2
npm ERR! node_modules/react
npm ERR!   react@"17.0.2" from the root project
npm ERR!   peer react@"^16.8.0 || ^17.0.0" from @material-ui/core@4.12.2
npm ERR!   node_modules/@material-ui/core
npm ERR!     @material-ui/core@"4.12.2" fr

[2021-07-23 13:34] leMaik commented on #104
Yes we can, PR welcome :)

[2021-08-21 21:27] Florian-crg commented on #93
Closed ? :/ It is a good idea though

[2021-11-05 21:44] janacm commented on #104
Hi, what would need to be done to add React 17 compatibility? I would be willing to open a PR if I could get some guidance please :)

[2021-11-12 13:11] maratismodest commented on #104
+

[2021-11-12 13:11] maratismodest commented on #104
+ would be great to update up to react 17

[2021-11-15 16:32] janacm commented on #104
#109

[2022-01-06 13:49] adamchenwei opened #110 "[BUG] codesandbox Demo is broken :("
https://codesandbox.io/s/mystifying-varahamihira-dphsr?fontsize=14&file=/src/index.js

[2022-03-19 19:11] braco opened #116 "Is this project abandoned?"
There are no updates for years and many pull requests that are ignored.

Should we use this instead?

https://www.npmjs.com/package/react-material-ui-carousel

[2022-03-19 19:31] leMaik commented on #116
We have not really needed this component since it was originally implemented. This project could use some maintenance for sure...

The alternative you suggest looks completely different though